<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="EpIASection" type="Eproduction.Integrated.Assistant.Start.Core.Section.EpIAContextSection, Eproduction.Integrated.Assistant"/>
    <section name="intelligentDeploySection" type="Eproduction.Integrated.Assistant.Start.Core.Section.IntelligentDeployContextSection, Eproduction.Integrated.Assistant"/>
    <section name="generateTemporaryTableSection" type="Eproduction.Integrated.Assistant.Start.Core.Section.GenerateTemporaryTableContextSection, Eproduction.Integrated.Assistant"/>
    <section name="retrievalTermsSection" type="Eproduction.Integrated.Assistant.Start.Core.Section.RetrievalTermsContextSection, Eproduction.Integrated.Assistant"/>
    <section name="escloudIntegrateSection" type="Eproduction.Integrated.Assistant.Start.Core.Section.EscloudIntegateContextSection, Eproduction.Integrated.Assistant"/>
  </configSections>
  <retrievalTermsSection>
    <retrievalTermsSettings chsEntry="" fuzzy="true" EpIAConnection="ZGF0YSBzb3VyY2U9MTcyLjE2LjEuMjA0O2luaXRpYWwgY2F0YWxvZz1DTTt1c2VyIGlkPXNhO3Bhc3N3b3JkPTExMTExMTtNdWx0aXBsZUFjdGl2ZVJlc3VsdFNldHM9VHJ1ZTtBcHA9RW50aXR5RnJhbWV3b3Jr" />
  </retrievalTermsSection>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin"/>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="form-state" value="Normal"/>
    <add key="form-size" value="1053, 594"/>
  </appSettings>
</configuration>
